@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.section__find {
  background-image: linear-gradient(to bottom, blue, rgb(42, 208, 230));
  margin-bottom: 20px;
}

.search-form {
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.search-box {
  font: inherit;

  padding: 8px 48px 8px 8px;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 8px;

  border: none;
}

.button__find {
  position: absolute;
  right: 2px;
  top: 9px;
  background-image: url('../images/search_icon.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 8px;
}

.button__load-more {
  display: block;

  margin: 16px auto 0 auto;
  padding: 8px 16px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to top, blue, rgb(42, 208, 230));
}

.hide {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.photo-card {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  max-height: 340px;
  /* max-width: calc((100% - 3 * 20px) / 4); */
  /* max-height: 300px; */

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 1px solid #eeeeee;

  cursor: pointer;
}

.thumb {
  flex-grow: 1;
  max-width: 100%;
  height: 260px;
}

.photo-card img {
  max-width: 100%;
  height: 260px;
  object-fit: cover;
}

.info {
  display: flex;
  /* flex-direction: column;  */
  /* justify-content: space-around; */
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(94, 99, 99, 0.7);

  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 50;
}

.backdrop.is-hidden {
  visibility: collapse;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  max-width: 900px;
  max-height: 609px;
  width: 100%;
  height: 100%;

  background-color: white;

  padding: 32px;

  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
}

.modal-window__btn-close {
  position: absolute;
  right: 16px;
  top: 16px;

  width: 30px;
  height: 30px;

  color: var(--text-color-menu);
  background-color: var(--bnt-background-white);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window__icon-close {
  width: 11px;
  height: 11px;

  fill: currentColor;
}

.modal__wrap-content {
  display: flex;
  gap: 30px;
}

.modal__wrap-information-film {
  display: flex;
  flex-direction: column;
}
